name: build-and-deploy

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Build the site for both Jekyll and Hugo
      run: |
        # these support both arm and amd
        # ghcr.io/gohugoio/hugo:latest
        # rockstorm/jekyll:latest
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll \
        rockstorm/jekyll:latest /bin/bash -c "chmod -R 777 /srv/jekyll && gem install jekyll-sitemap && gem install jekyll-last-modified-at && jekyll build --future"
        docker run \
        -v ${{ github.workspace }}:/srv/hugo \
        --entrypoint=/bin/sh \
        ghcr.io/gohugoio/hugo:latest -c "ls -la /srv/hugo/_blog; cd /srv/hugo/_blog; hugo -d /srv/hugo/_site/blog"
        cd ${{ github.workspace }}/_site
        ls -lah
        ls -lah blog/
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        name: github-pages
        path: ${{ github.workspace }}/_site

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4